<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Todo App</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    </style>

</head>
<body>
    
    <header>
        <div class="nav-box">
            <h3 class="logo">Todo App</h3>
            <nav class="navigation">
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Personal Task</a></li>
                    <li><a href="/workTask">Work Task</a></li>
                </ul>
            </nav>
            <a href="#"><button>Signup / Login</button></a>
        </div>
    </header>
    <hr>
    <main class="container">